.products {
  display: grid;
  gap: 32px;
  align-content: baseline;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }

  @media screen and (min-width: 480px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 768px) {
    &__grid {
      gap: 32px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1280px) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
