.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 100px);
  gap: 16px;
  margin: 32px 0;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}
