.cart {
  display: grid;
  align-content: baseline;
  gap: 16px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__grid {
    display: grid;
    gap: 16px;
  }

  &__text {
    color: var(--accents-1);
  }

  @media screen and (min-width: 480px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 768px) {
    gap: 32px;

    &__grid {
      gap: 32px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1280px) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
