.favorite_product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--hsla);
  border-radius: var(--border-radius);
  padding: 16px;

  &__head {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--only-white);
    border-radius: var(--border-radius);
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 16px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__btn_group {
    display: flex;
    gap: 16px;
  }

  &__img {
    width: 100%;
    max-width: 100px;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  &__title {
    font-size: 16px;
    color: var(--accents-1);
    hyphens: auto;
  }

  &__price {
    color: var(--accents-1);
    font-weight: bold;
  }

  &__btn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: var(--accents-2);
    transition: var(--transition);

    &:hover {
      color: var(--accents-1);
    }
  }
}
