.product_info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__head {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--only-white);
    border-radius: var(--border-radius);
    padding: 16px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    object-fit: contain;
    max-width: 300px;
    aspect-ratio: 1/1;
  }

  &__desc {
    color: var(--accents-2);
  }

  &__rating {
    color: var(--accents-1);
  }

  &__price {
    color: var(--accents-1);
  }

  &__btn_group {
    top: 8px;
    right: 8px;
    display: flex;
    gap: 16px;
  }

  &__btn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: var(--accents-2);
    transition: var(--transition);

    &:hover {
      color: var(--accents-1);
    }
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}
