.product {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--hsla);
  padding: 16px;
  border-radius: var(--border-radius);

  &__img_box {
    width: 100%;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    color: var(--accents-1);
  }

  &__price {
    color: var(--accents-1);
  }
}
