.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(16px);
  background-color: var(--hsla);

  &__content {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__group,
  &__nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link {
    display: flex;
    position: relative;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: var(--accents-2);
    transition: var(--transition);

    &:hover {
      color: var(--accents-1);
    }

    &_active {
      color: var(--accents-1);
    }
  }
}
