.footer {
  display: flex;
  backdrop-filter: blur(16px);
  background-color: var(--hsla);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link {
    display: flex;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: var(--accents-2);
    transition: var(--transition);

    &:hover {
      color: var(--accents-1);
    }
  }

  &__copyright {
    color: var(--accents-2);
  }
}
