:root {
  --hsla: hsla(0, 0%, 100%, 0.06);
  --main-color: #101010;
  --overlay-bg: rgba(0, 0, 0, 0.2);
  --accents-1: #ffffff;
  --accents-2: #999999;
  --transition: 0.2s linear;
  --transparent: transparent;
  --blur: blur(4px);
  --outline-color: #fff500;
  --hover-state: #50e3c2;
  --only-white: #ffffff;
  --only-black: #101010;
  --border-radius: 8px;
  --shadow: rgba(255, 255, 255, 0.1);
}

[data-theme="light"] {
  --hsla: hsla(0, 0%, 0%, 0.06);
  --main-color: #ffffff;
  --overlay-bg: rgba(255, 255, 255, 0.2);
  --accents-1: #101010;
  --accents-2: #555555;
  --outline-color: #eb367f;
  --geist-state: #29bc9b;
  --only-white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  &:focus-visible {
    outline: 1px solid;
    outline-color: var(--outline-color);
  }
}

html {
  background-color: var(--main-color);
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: calc(100% - 32px);
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 32px;
  min-height: 100vh;
}
